statemachine/batch-manager.asl.json
{
  "Comment": "Submits & manages a batch job's lifecycle",
  "StartAt": "SubmittedEvent",
  "States": {
    "SubmittedEvent": {
        "Type": "Task",
        "Resource": "arn:aws:states:::events:putEvents",
        "Comment": "send batch submitted event",
        "Parameters": {
          "Entries": [
            {
              "EventBusName": "${EventBusName}",
              "Source": "${EventSource}",
              "DetailType": "SFN_BATCH_SUBMITTED",
              "Detail": { "message": "batch job subitted" }
            }
          ]
        },
        "ResultPath": null,
        "Next": "MonitorBatch"
    },
    "MonitorBatch": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Comment": "start batch monitor state machine",
      "Parameters": {
        "StateMachineArn": "${BatchMonitorSM}",
        "Input": {
          "batch.$": "$.batch"
        }
      },
      "ResultSelector": {
        "output.$": "States.StringToJson($.Output)"
      },
      "Next": "EvaluateResults"
    },
    "EvaluateResults": {
      "Type": "Pass",
      "Parameters": {
        "passed.$": "$.output.results.Payload.completed"
      },
      "ResultPath": "$.results",
      "Next": "PublishResults"
    },
    "PublishResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "send batch results event",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${EventBusName}",
            "Source": "${EventSource}",
            "DetailType": "SFN_BATCH_RESULTS",
            "Detail": { "passed.$": "$.results.passed" }
          }
        ]
      },
      "End": true
    }
  }
}
